.desktop-only {
    display: inherit!important;
}

.mobile-only {
    display: none!important;
}

@media all and (max-width: 767px) {
    .desktop-only {
        display: none!important;
    }

    .mobile-only {
        display: block!important;
    }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff!important;
}


.unstyled-link {
    text-decoration: none;
    color: inherit;
}

.btn-primary {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 9999px;
    font-size: 1.5rem;
    color: #fff;
    font-family: "Familjen Grotesk"!important;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    position:relative;
    top: 0px;
    transition: ease top 0.2s;
}   

.btn-primary-big {
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-primary:hover {
    top: -2px;
    opacity: 0.9;
}

.btn-hero {
    background-color: var(--white);
    border: 1px solid var(--white);
    padding: 10px;
    border-radius: 9999px;
    font-size: 17px;
    color: var(--secondary);
    font-family: "Circular"!important;
    text-align: center;
    cursor: pointer;
    position:relative;
    top: 0px;
    padding-left: 18px;
    padding-right: 18px;
    transition: ease top 0.2s;   
}

.btn-hero:hover {
    top: -2px;
    opacity: 0.9;
}

.page-container {
    width: 1185px;
    margin: 0 auto;
    margin-top: 50px;
}

.page-header {
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: 600;
}

.page-section-content {
    display: flex;
    flex-direction: row;
    gap: 80px;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.rupee:before {
    content: "\20B9";
    margin-right: 0.1rem;
}

.page-section-layout {
    padding: 3rem;
}

@media all and (max-width: 767px) {
    .page-section-layout {
        padding: 1.5rem!important;
    }

    .page-section-layout-heading {
        font-size: 2rem!important;
        font-weight: 600!important;
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }
}

.page-section-layout-heading {
    font-size: 3.5rem;
    font-weight: 600;
}

.heading-colour {
    color: var(--primary);
}

.small-btn {
    font-size: 15px;
}