.wp-call-btn {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: var(--green);
    font-weight: 600;
    transition: ease top 0.2s;
    cursor: pointer;
}

.wp-call-btn:hover {
    top: -2px;
    background-color: #fafafa;
}