@import './common/fonts/fonts.css';
@import './common/styles/variables.css';
@import './common/styles/commonClasses.css';
body {
  margin: 0;
  font-family: 'Familjen Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  margin-top: 3rem;
}

.page-content {
  position: relative;
  top: 70px;
}